<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.File.Discriptor"
    android:versionCode="1"
	android:versionName="1.0">
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />

    
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="31"/>
    
    <application
		android:usesCleartextTraffic="true"
        android:allowBackup="true"
	     android:requestLegacyExternalStorage="true"
        android:icon="@drawable/LOGOHTML"
        android:label="@string/app_name"
        android:roundIcon="@drawable/LOGOHTML"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
      <activity android:name=".ConsolePreview"></activity>
	    <activity android:name=".FOLDERDIR">
			 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		
		<activity
            android:name=".MainActivity"
            android:exported="true">
           
        </activity>
    </application>

</manifest>